* {
    margin: 0;
    padding: 0;
}
:root {
    --sidebar-width:250px;
    --primary: #ddd;
    --secondary: #eee;
    --bg-color: #fff;
    --color: #000;
}
body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-color);
    color: var(--color);
}
.container {
    padding-left: 70px;
    padding-right: 70px;
}

.container-fluid {
    width: 100%;
}
/* utilities */
.row {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

@media screen and (max-width: 992px) {
    .d-lg-none {
        display: none;

    }
}

@media screen and (max-width: 992px) {
    .d-lg-block {
        display: block;

    }
}

@media screen and (max-width: 500px) {
    .d-xs-none {
        display: none;

    }
}

@media screen and (max-width: 500px) {
    .d-xs-block {
        display: block;
    }
}



.grid-cols-4 {
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1200px) {
    .grid-cols-xl-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

@media screen and (max-width: 992px) {
    .grid-cols-lg-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 767px) {
    .grid-cols-md-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media screen and (max-width: 576px) {
    .grid-cols-sm-1 {
        grid-template-columns: repeat(1, 1fr);
    }
    
}


.flex-wrap {
    flex-wrap: wrap;
}

.align-item-center {
    align-items: center;
}

.gap-3 {
    gap: 15px;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
}

.btn-secondary {
    background: #eee;
    color: #000;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 14px;
}

.btn-secondary:hover {
    background: var(--primary);
}

.btn-secondary.active {
    background: #000;
    color: var(--primary);
}
.px-3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.p-5 {
    padding: 25px !important;
}

.py-3 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.mt-5 {
    margin-top: 25px !important;

}

.my-5 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.rounded {
    border-radius: 15px;

}
.border {
    border: 1px solid #eee;

}
.overflow-y-scroll {
    overflow-y: auto;
}
.overflow-x-scroll {
    overflow-x: auto;
}

.bg-transparent {
    background-color: transparent !important;
  }

/* header */

.header {
    padding: 10px 12px;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 70px;
    background-color:var(--bg-color);
    
}

.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 100px;
    right: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* .dropdown:hover .dropdown-content {
    display: block;
  } */

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .show {
    display: block;
}
/* dropdown responsive */

@media screen and (max-width: 400px) {
    
}
/* menu */
.menu-open-btn .menu-close-btn {
    background: transparent;
    border: none;
    outline: none;
    font-size: 25px;

}

.logo img{
    width: 100px;
}
.input-group {
    position: relative;
}

.search-input {
    width: 450px;
    height: 20px;
    border-radius: 25px;
    outline: none;
    padding: 10px;
    border: 1px solid var(--primary);
}

.search-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border-left: 1px solid var(--primary);
    background: #f8f8f8;
    padding: 10px 25px;
    font-size: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
  }

  .search-btn:hover {
    background-color: #ccc;

  }
  .search-bar.show {
    display: block;
    position: fixed;
    z-index: 5;
    background:var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
}

.search-bar.show .search-input {
    width: 60vw;
}
.btn-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #eee;
    font-size: 24px;
}

.btn-circle:hover {
    background-color: #ddd !important;
}

/* dropdown */
.dropdown {
    position: relative;
}

.dropdown-toggle {
    
}
.dropdown-menu {
    position: absolute;
    background: #fff;
    border-radius: 10px;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 180px;
    display: none;
}

.dropdown-menu .dropdown-item,
.dropdown-menu li {
    list-style: none;
    border-bottom: 1px solid #eee;
}

/* .dropdown-toggle:hover~.dropdown-menu {
    display: block;
} */
.dropdown:hover .dropdown-menu {
    display: block;
}



.dropdown-menu .dropdown-item .dropdown-link {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 15px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu .dropdown-item .dropdown-link:hover,
.dropdown-menu .dropdown-item .dropdown-link.active {
    background: #eee;
}
/* sidebar */

.sidebar {
    position: fixed;
    left: 0px;
    width: var(--sidebar-width);
    height: calc(100vh - 63.91px);
    background:var(--bg-color);
    border-right: 1px solid var(--primary);
    padding-top: 75px;
    transition: 0.5s;

}
.sidebar-menu-devider {
    height: 1px;
    border-top: 1px solid #eee;
    margin: 10px 0px;
}

.sidebar-menu-heading {
    font-size: 18px;
    padding: 5px 15px;
}

.sidebar-menu-heading {
    list-style: none;
    font-size: 20px;
}
.sidebar-menu {
    padding: 5px 15px;
    height: calc(100vh - 80px);
    padding-bottom: 15px;

}
.sidebar-menu li {
    list-style: none;
}

.sidebar-menu .sidebar-menu-items .sidebar-menu-link {
    display: flex;
    align-items: center;
    gap: 20px;
    color:var(--color);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 20px;
}

.sidebar-menu .sidebar-menu-items .sidebar-menu-link:hover,
.sidebar-menu .sidebar-menu-items .sidebar-menu-link.active {
    background: #eee;
} 

.sidebar-menu .sidebar-menu-items .sidebar-menu-link .sidebar-menu-icon {
    font-size: 20px;
}
.sidebar-menu .sidebar-menu-items .sidebar-menu-link .sidebar-menu-text {
    font-size: 14px;
    
}

.sidebar .menu-close-btn {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
}
 /* sidebar responsive */

 @media screen and (max-width: 767px) {
   .sidebar {
    margin-left: calc(-1 * var(--sidebar-width));
    padding-top: 30px;
    z-index: 10;
    height: 100vh;
   }
   .sidebar .menu-close-btn{
    display: block;
   }
    
}

.sidebar.open {
    margin-left: 0px;
}

/* main */
.main {
    padding-left: var(--sidebar-width);
    padding-top: 75px;

}

/* main Responsive */
@media screen and (max-width: 767px) {
    .main {
        padding-left: 0px;  
    }
}

.categories-section {
    position: fixed;
    left: calc(var(--sidebar-width) + 15px);
    top: 75px;
    right: 15px;
    z-index: 2;
    background: var(--bg-color);
}
/* categories Responsive */
@media screen and (max-width: 767px) {
    .categories-section {
        left: 15px;
    }
}

.vedio-section {
    padding-top: 50px;
}
.card {
    width: 100%;

}

.card .card-img img {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.card .card-user-logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card .card-title {
    font-size: 18px;
    font-weight: bold;
}

.card.card-sub-title
.card-meta {
    font-size: 14px;
    color: #666;

}

/* Card Responsive */
@media screen and (max-width: 576px) {
    .card .card-img img {
        height: 270px;   
    }
    
    
}

@media screen and (max-width: 400px) {
    .card .card-img img {
        height: 180px;
    }


}

.footer {
    padding-left: var(--sidebar-width);
    font-size: 14px;
}

.footer-menu {
    display: flex;
}

.footer-menu ul {
    display: flex;
    gap: 15px;
}

.footer-menu ul li {
    list-style: none;

}

.footer-menu ul li a {
    color:var(--color);
    text-decoration: none;

}

.footer-menu ul li a:hover {
    text-decoration: underline;
}

/* footer responsive */
@media screen and (max-width: 767px) {
    .footer {
        padding-left: 0px;
    }
    
}
