* {
    margin: 0;
    padding: 0;
}

.container-fluid {
    width: 100%;
}
/* utilities */
.row {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.gap-3 {
    gap: 10px;
}
.btn {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.px-3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.bg-transparent {
    background-color: transparent !important;
  }

.header {
    padding: 10px 12px;
}

/* menu */
.menu-toggole-btn {
    font-size: 24px;
    padding: 10px;
}

.logo img{
    width: 100px;
}
.input-group {
    position: relative;
}

.search-input {
    width: 450px;
    height: 20px;
    border-radius: 25px;
    outline: none;
    padding: 10px;
    border: 1px solid #ddd;
    
}

.search-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    border-left: 1px solid #ddd;
    background: #f8f8f8;
    padding: 10px 25px;
    font-size: 20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px ;
  }
  .search-btn i {
    font-size: 18px;
  }
 
  
.btn-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #eee;
    font-size: 24px;
    
}

.btn-circle:hover {
    background-color: #ddd !important;
}